.card-home {
  flex: 1 200px;
  transition-duration: .5s; }

.card-home > div > button {
  width: 100%; }

.card-home:hover {
  background-color: #3a213a !important;
  color: white;
  transform: translateY(-5px); }

.jumbotron {
  background-image: url("/img/8.jpg");
  background-size: 100%;
  background-position-y: 90%;
  margin-top: 50px;
  margin-bottom: 50px; }

.info-cards {
  transition-duration: .5s; }

.info-cards:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 128, 0.428) 1px 2px 4px 1px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0; }

@media (max-width: 571px) {
  .info-cards {
    margin: 0 !important; } }

footer {
  background-color: #194e3996;
  color: white; }

footer a {
  color: white !important; }
