@yellow: #dbf518;
@green: #0aa86c;
@red: #db0404;
@bg-color-dark:#6b696d;

.margenes (@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top, @bottom){
    padding-top: @top;
    padding-bottom: @bottom;
}


.card-home{
    
    flex: 1 200px;
    transition-duration: .5s;
}

.card-home > div > button{
    width: 100%;
   
}

.card-home:hover{
    background-color: @bg-color-dark !important;
    color:white;
    transform: translateY(-5px);
}

.jumbotron{
    background-image: url('/img/8.jpg');
    background-size: 100%;
     background-position-y: 90%;
    .margenes(50px , 50px)
}

.info-cards{
    transition-duration: .5s;
}

.info-cards:hover{
transform: translateY(-5px);
box-shadow: rgba(0, 0, 128, 0.428) 1px 2px 4px 1px;
}

.tab-content{
    .paddings(10px,0 )
}

@media (max-width:571px){
    .info-cards{
        margin: 0 !important;
    }
}

footer{
    background-color:@green;
    color: white;
}

footer a{
    color: white !important;
}